// Custom styles.
// 主页文章添加阴影效果
.post {
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.feed-link a{display: inline-block;}

// 作者头像
.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}

//字号大小
.site-author-name {
  font-size: 16px;
}

ul {
  list-style-type: circle;  // 空心圆，实心圆为 disc
}